{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "apps/storefront/**",
      "options": {
        "semi": false,
        "tailwindStylesheet": "apps/storefront/app/globals.css"
      }
    }
  ]
}
